
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mon Site</title>
    <link rel="stylesheet" href="{{asset('assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="{{asset('assets/css/swiper-icons.css')}}">
    <link rel="stylesheet" href="{{asset('assets/fonts/ionicons.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/Contact-Details-icons.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/pikaday.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/Simple-Slider-swiper-bundle.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/Simple-Slider.css')}}">
</head>



<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Mon Site</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    
                  {#<li class="nav-item"><button class="btn btn-success d-block w-10" type="submit">Chat </button></li>
                    <li class="nav-item"><a class="nav-link active" href="#">Accueil</a></li>
                     #}
                    {% if is_granted('ROLE_USER') %}

                        <li class="nav-item"><button class="btn btn-success d-block w-10" type="submit">Chat </button></li>
                         <li class="nav-item"><a class="nav-link" href="#">Produit</a></li>
                         <li class="nav-item"><a class="btn btn-dark" href="{{ path('app_logout') }} ">Se déconnecter</a></li>

                    {% else %}
                        
                        <li class="nav-item"><a class="nav-link text-black-50" href="{{path('app_login')}}">S'Identifier</a></li>
                        <li class="nav-item"><a href="{{path('app_inscription')}}" class="btn btn-dark">S'Inscrire</a></li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </nav>
 
    {% if block ('portfolio-block') is defined %} 


    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <section class="py-4 py-xl-5">
                <div class="container">
                   
                </div>
            </section>
            <div class="container">
                <div class="avatar" style="background-image: url(&quot;assets/img/avatars/avatar.jpg&quot;);"></div>
                <div class="about-me">
                    <p>Bonjour! Je suis <strong>Marin Olivier</strong> Je travaille en tant que développeur interface et front-end. J'ai une passion pour les interfaces pixel perfect, minimales et faciles à utiliser.</p><a class="btn btn-outline-primary" role="button" href="#">Suiver-moi</a>
                </div>
            </div>
        </section>
        <section class="portfolio-block photography">
            <div class="container">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/nature/image5.jpg"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/nature/image2.jpg"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/tech/image4.jpg"></a></div>
                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3>Like what you see?</h3><button class="btn btn-outline-primary btn-lg" type="button">Suiver-moi</button>
                </div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>Special Skills</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Web Design</h3>
                                <p class="card-text">N.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Interface Design</h3>
                                <p class="card-text">N.</p>
                            </div>
                        </div>
                        <div class="simple-slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;"></div>
                                    <div class="swiper-slide" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;"></div>
                                    <div class="swiper-slide" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;"></div>
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Photography and Print</h3>
                                <p class="card-text">N.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
      

    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Website Project</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efr nunc, vivamus vel accumsan dui. Quisque ac dolor cursus, volutpat nisl vel, porttitor eros.</p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen">
                            <div class="screen-content" style="background-image: url(&quot;assets/img/tech/image6.png&quot;);"></div>
                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
    {% endif %}

     <section class="portfolio-block website  {% if block('portfolio-block')is not defined %}mt-5{% endif %} ">
        <div class="container">

        {% block content %}
      
        
        {% endblock %}
        </div>
    </section>
  
  
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">About me</a><a href="#">Contactez-moi</a><a href="#">Projects</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>


    <script src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('assets/js/pikaday.min.js')}}"></script>
    <script src="{{asset('assets/js/Simple-Slider-swiper-bundle.min.js')}}"></script>
    <script src="{{asset('assets/js/Simple-Slider.js')}}"></script>
    <script src="{{asset('assets/js/theme.js')}}"></script>
        
</body>

</html>